<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div *ngIf="showImage" class="modal-header">
          <a href="#" class="header-img-container">
            <img class="header-img" src="../../assets/discover bank.png" alt=""/>
          </a>
        </div>
        <div class="modal-body">
          <div *ngIf="!formSubmitted" class="form-before-submission">
            <form>
              <div class="form-group">
                <label for="exampleInputName">Name</label>
                <input #fName="ngModel" ngModel type="email" class="form-control" name="exampleInputName" id="exampleInputName" aria-describedby="name" placeholder="Jane Doe">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <label for="exampleInputTelephone">Phone</label>
                <input class="form-control" type="tel" placeholder="(555) 555-5555" id="exampleInputTelephone">
              </div>
              <div class="form-group">
                <label for="exampleInputCardNumber">Card number</label>
                <input id="exampleInputCardNumber" type="tel" class="form-control" placeholder="1234 1234 1234 1234">
              </div>
              <div class="form-group">
                <label for="exampleInputExpNum">Expiration</label>
                <input id="exampleInputExpNum" type="tel" class="form-control" placeholder="MM / YY">
              </div>
            </form>
            <button type="submit" class="btn btn-primary form-submit-btn" (click)="submitForm(fName)">Submit</button>
          </div>
          <div *ngIf="formSubmitted" class="form-after-submission">
            <div *ngIf="accountCreation" class="account-created">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.273 2.513l-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
                <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
              </svg>
              <span>Your account has been created successfully</span>
            </div>
            <div *ngIf="!accountCreation" class="two-factor-auth">
              <div class="form-group">
                <label for="exampleInputTwoFactor">Two Factor Authentication</label>
                <input class="form-control" type="number" placeholder="1234" id="exampleInputTwoFactor">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>